<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="area"></div><nav class="main-menu">
            <ul>
              <li>
                  <a href=" ">
                      <i class="fa fa-home fa-2x"></i>
                      <span class="nav-text">
                         Home
                      </span>
                  </a>
                
              </li>
              <li class="has-subnav">
                  <a href="csrlist">
                      <i class="fa fa-globe fa-2x"></i>
                      <span class="nav-text">
                          View Bill
                      </span>
                  </a>
                  
              </li>
                            
             <li>
                  <a href="bill">
                      <i class="fa fa-book fa-2x"></i>
                      <span class="nav-text">
                         Genrate Bill
                      </span>
                  </a>
              </li>
              
              <li>
                 <a href="location">
                      <i class="fa fa-map-marker fa-2x"></i>
                      <span class="nav-text">
                          Location in Map
                      </span>
                  </a>
              </li>
              <li>
                <a href="logout">
                      <i class="fa fa-power-off fa-2x"></i>
                     <span class="nav-text">
                         Logout
                     </span>
                 </a>
             </li>  
          </ul>

          
        </nav>
        <div class="form-area" >
            <form  >

                <h2><div>Phaltan ELECTRICITY BOARD</div></h2>
                
                <table BORDER="1"  class="table1">
                <CAPTION><EM> ELECTRICITY BILL</EM></CAPTION>
                
                <tr rowspan="2">
                <th> Consumer Name</th>
                <td><input type="text" name="conname"></td>
                </tr>
                
                <tr>
                <th> Connection Id</th>
                <td><input type="text" name="conno"></td>
                </tr>
                
                <tr>
                <th> Start Date</th>
                <td><input type="date" name="condate"></td>
                </tr>
                <tr>
                <th> End Date</th>
                <td><input type="date" name="condate"></td>
                </tr>
                
                <tr>
                <th>Zone Name</th>
                <td><input type="text" name="conzn"></td>
                </tr>
                
                <tr>
                <th>Previous meter reading </th>
                <td><input type="text" name="conpmr"></td>
                </tr>
                
                <tr>
                <th> Current meter reading </th>
                <td><input type="text" name="concmr"></td>
                </tr>
                <tr>
                    <th>Enter Unit</th>
                    <td><input type="text" name="concmr"></td>
                    </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary bt1">Genrate</button>
                        <button type="reset" class="btn btn-primary bt2">Reset</button>
                    </td>
                </tr>
                    
                </table>
                
             
                   
                </form>
   </div>
</div>
</div>
